# ============================================================
# SISADMI ERP - Configuración local
# ============================================================

DJANGO_DB_NAME=sisadmi_erp_dev
DJANGO_DB_USER=sisadmi_erp
DJANGO_DB_PASSWORD=CHANGE_ME
DJANGO_DB_HOST=127.0.0.1
DJANGO_DB_PORT=5432

# Django
# DJANGO_SECRET_KEY=CHANGE_ME
